
 
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #000;
 
}
 
body{
 
    font-family: 'Ubuntu', sans-serif;
    height: 100vh;
}
 
.navbar
{
    display: flex;
    align-items: center;
    padding: 20px;
}
 
nav{
    flex: 1;
    text-align: right;
}
 
nav ul{
    display: inline-block;
    list-style-type: none;
}
 
nav ul li 
{
    display: inline-block;
    margin-right: 50px;
    color: white;
    font-weight: 700;
}
 
ul li:hover {
    background: rgb(0, 0, 0);
    color: #ffffffe0;
}
 
a{
    text-decoration: none;
    color:rgb(255, 255, 255); ;
}
 
p{
    color: rgb(0, 0, 0);
}
 
.container
{
    max-width: 1400px;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-around;
}
 
.row
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
 
.col-2
{
    flex-basis: 50%;
    min-width: 300px;
}
 
.col-2 img {
    max-width: 100%;
    padding: 50px 50px;
}
 
.col-2 h1 {
    font-size: 50px;
    line-height: 32px;
    margin: 25px 0;
    color: rgb(255, 255, 255);
}
 
.text_info
{
    font-size: 40px;
    font-weight: 200;
    color: white;
}
 
.text_para
{
    margin-top: 2rem;
    border-radius: 10px;
    color: white;
}
 
.btn
{
    display: inline-block;
    background: #f0f0f0;
    color: rgb(41,41,41);
    padding: 22px 29px;
    margin: 30px 0;
    border-radius: 9px;
}
 
.btn:hover {
    background: #242c6c;
    color: white;
    transition: 0.9s;
}

.sys-info {
  color: white;
  text-align: center;
  font-size: 50px;
}

.sys-info p {
  color: white;
  text-align: center;
  font-size: 50;
}

.sys-info p {
  color: white;
  text-align: center;
  font-size: 30;
}

.plasma-about h1{
  color: black;
  text-align: center;
  font-size: 150px;
}

.plasma-about h2{
  color: white;
  text-align: center;
  font-size: 100px;
}

.plasma-about p{
  color: white;
  text-align: center;
  font-size: 20px;
}

.copyright p{
  color: grey;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 10px;
}

.copyright h1{
  color: black;
  text-align: center;
  font: 'Ubuntu', sans-serif;
  font-size: 15px;
}
